.centered {
  display: flex;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;

  .groups {
    display: flex;

    .group {
      display: flex;
      flex-direction: column;
    }
  }
}
